@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

/*Lazy-Loading*/
.lazy-load {
    background: #ececec;
}

/*About Page*/
#mainLogo {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    transition: 2s;
    animation: fadeEffect 1s;
}

#mainLogo:hover {
    width: 500px;
    transition: 2s;
}

#mainText {
    text-align: center;
    color: gray;
    font-family: 'Julee', cursive;
    font-size: 20pt;
    animation: fadeEffect 1s;
    margin-bottom: -15cm;
}

@media screen and (max-device-width: 768px) {
    #mainLogo:hover {
        width: 300px;
    }

}

/*Navigation Bar */
#logo {
    height: 50px;
    margin-top: -3.5px;
    margin-right: 10px;
}

.navbar-light {
    background-image: linear-gradient(to left, white, #F0EEE4);
    margin-bottom: 1cm;
    /*Countering of Overall Body Margins*/
    margin-left: -1cm;
    margin-right: -1cm;
}

.nav-link {
    transition: .5s;
    font-size: 17pt;
    font-weight: 700;
    font-family: 'Julee', cursive;
}

#search-bar {
    font-family: 'Julee', cursive;
    font-weight: 600;
    font-size: 16pt;
    color: #00000080;
    border-width: 0.075cm;
}

#search-bar::placeholder {
    color: #1b1b1b80;
}

/*Sidebar*/
.sidenav {
    height: 100%;
    width: 0;
    /* Stay in place */
    position: fixed;
    /* Stay on top of all other content */
    z-index: 1;
    top: 0;
    right: 0;
    background-image: linear-gradient(to left, #F0EEE4, white);
    /* Disable horizontal scroll */
    overflow: hidden;
    padding-top: 60px;
    /*Slide in the sidenav */
    transition: 0.5s;
    text-align: center;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #18191a;
    text-decoration: none;
}

.side-link {
    display: block;
    /*Originally grayed-out, like the nav-bar*/
    color: gray;
}

.side-link:hover {
    /*Becomes true color when hovered over*/
    color: #18191a;
}

/*Images*/
#divContainer {
    text-align: center;
    margin-top: 1cm;
    /*Fixes the spacing issues between top of page and top images (when applied filter)*/
    font-size: 0;
}

.portraitContainer {
    display: inline-block;

    width: 10vw;
    height: auto;
    margin-right: 0.2cm;
    margin-left: 0.2cm;
    margin-bottom: 1cm;
    /*Fade out of selection effect*/
    transition: .5s;
}

.landscapeContainer {
    display: inline-block;

    width: 20vw;
    height: auto;

    margin-right: 0.2cm;
    margin-left: 0.2cm;
    margin-bottom: 1cm;
    transition: .5s;
}

.panoramicContainer {
    display: inline-block;

    width: 90vw;
    height: auto;

    margin-right: 0.2cm;
    margin-left: 0.2cm;
    margin-bottom: 1cm;
    transition: .5s;
}

.portraitContainer:hover,.landscapeContainer:hover{
    /*Show hand when hovering over image*/
    cursor: pointer;
    opacity: 0.7;
    /*Fade into selection effect*/
    transition: .5s;
}

img {
    /*Ensures image proportions/aspect ratio stays correct*/
    max-width: 100%;
    max-height: auto;
}

body {
    background-color: #18191a;
    margin-bottom: 10cm;
    margin-left: 1cm;
    margin-right: 1cm;
    text-align: center;
}


/*Modals*/
#pt {
    max-width: 30vw;
    /*To center vertically*/
    position: relative;
    top: 50%;
    transform: translateY(-55%);
}

#ls {
    max-width: 50vw;
    /*To center vertically*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-body {
    /*Creates border for image*/
    padding: 0.1cm;
    background-color: #18191a;
}

.close {
    /*Allows the 'x' button to hover over the image*/
    position: fixed;
}

/*Prevents appearance of modal from causing page shift with images lower on page*/
.modal-open {
    overflow:hidden;
    overflow-y:scroll;
    padding-right:0 !important;
  }


/*Filtering*/
.filterDiv {
    /* Hidden by default */
    display: none;
}

.showPics {
    display: inline-block;
    /*Animation that plays when images load*/
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*For Mobile/Smaller Screens*/
@media screen and (max-width: 768px) {
    .navbar-light {
        width: auto;
        height: auto;
    }

    #search-bar {
        width: 35vw;
    }

    #search-bar::placeholder {
        color: white;
    }

    #logo {
        width: 0cm;
    }

    .portraitContainer {
        width: 30vw;
        margin-bottom: 0.5cm;
    }

    .landscapeContainer {
        width: 45vw;
        margin-bottom: 0.5cm;
    }
}

/*Modals on vertically oriented mobile devices*/
@media screen and (orientation:portrait) and (max-width: 768px) {
    #pt {
        max-width: 90vw;
        /*To center vertically*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ls {
        max-width: 90vw;
        /*To center vertically*/
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}